html,
body {
  height: 100%;
}

html {
  font-size: $base-fz + px;
  line-height: 1.4;
  color: $c-text;
  background-color: $light;
  font-family: sans-serif;

  &::before {
    content: '';

    @extend %coverdiv;
    z-index: 0;

    background-image: url('/img/texture-2-xl-tiny-png.png');
    background-position: 50% 50%;
    background-size: cover;    

    opacity: 0.2;
  }

  &.font_opensans {
    @include reg;
  }

  &.has-custom-cursor {
    cursor: none;

    a,
    button {
      cursor: none;
    }
  }
}

body {
  min-width: 320px;
}

* {
  outline-color: $accent;
}

.icon,
.svg-icon {
  display: inline-block;
  fill: currentColor;
  font-size: inherit;
}

.container {
  width: 100%;
  max-width: 90%;

  margin-left: auto;
  margin-right: auto;

  padding-left: $gap-container + px;
  padding-right: $gap-container + px;

  @include xxxl {
    max-width: $base-container + $gap-container * 2 + px;
  }

  &--md {
    max-width: $base-container--md + $gap-container * 2 + px;
  }

  &--xs {
    max-width: $base-container--sm + $gap-container * 2 + px;
  }
}

.close {
  @include icon-close(2em, 0.1em, currentColor);
  transition: color 0.4s;

  outline: 0;

  @include hover-focus {
    color: $accent;
  }
}
